
  <header>
<h1 id="title" class="center-align">Eat Da Burger Mon!</h1>
</header>
<div id="burgerRow" class="row">
  <div id="mainDiv" class="col green accent-4 l4 m4 s12">
<h4>Fresh Burgers</h4>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div id="mainDiv" class="col yellow darken l4 m4 s12">
<h4>Add a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label class="label" for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <div class="row">
  <div class="input-field col">
    <label class="label" id="eaten">Eaten?</label>
    <select id="show">
      <option value="" disabled selected>Choose your option</option>
      <option value="0" name="eaten">Uneaten</option>
      <option value="1" name="eaten">Devoured</option>
    </select>
  </div>
    </div>
    <div class="row center-align">
    <button class="btn-small green center-align" type="submit"><i class"fa fa-cutlery"></i>Add Burger</button>
    </div>
    </form>
</div>
<div id="mainDiv" class="col red l4 m4 s12">
<h4>Reorder Burgers!</h4>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
  
</div>
