#show{
    display:inline;
    margin-left:8px;
    height:50%;
}
        
body {
    background: url("https://cdn5.vectorstock.com/i/1000x1000/93/34/seamless-pattern-of-burgers-background-for-fast-vector-18919334.jpg")
}

#btn {
    margin: 5px;
}

h1 {
    font-family: 'Staatliches', cursive;
    background: -webkit-linear-gradient(red, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-family: 'Modak', monospace;
}

#eaten {
    position: relative;
    font-size:1rem;
    color:Black;
}

.label {
    font-size:1rem;
    color:Black;
}

#burgerName {
    font-family: 'Inconsolata', monospace; 
    font-weight: bolder;
    background: -webkit-linear-gradient(red, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mainDiv {
    border: 3px rgba(255, 255, 255, 0.5) solid;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 30px;
}

#burgerRow {
    bottom: 20px;
    position: relative;
}